<div align="center" >
<h1>Homepage</h1>

<!--<img src="https://get.wallhere.com/photo/sunlight-landscape-hill-grass-sky-field-green-farm-horizon-atmosphere-Windows-XP-mount-scenery-steppe-cloud-grassland-pasture-agriculture-meadow-plantation-plain-daytime-energy-1920x1200-px-lawn-highland-prairie-crop-rural-area-computer-wallpaper-atmosphere-of-earth-ecosystem-grass-family-meteorological-phenomenon-cumulus-land-lot-paddy-field-ecoregion-833852.jpg" alt="poker face" width="800" height="600">-->

<%= image_tag("/assets/win.jpg",size:"800x600") %>
<ul>
<li><%= link_to 'Novo Poste', new_post_path %></li>

<li><%= link_to 'Todos os Postes', posts_path %></li>
</ul>

<%#= @alunos.each {|aluno| aluno.nome } %>
</div>